# .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.csproj.user
*.dbmdl
*.jfm
*.vs/
.vscode/

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages.lock.json

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# IDE
*.swp
*.swn
*~
*.sln.docstates
